.header {
  background-color: #e1ffce;
  min-width: 600px;
  &__list {
    display: flex;
    list-style: none;
    padding: 1em;
    gap: 1em;
  }
  &__item {
    padding: 0.5em;

    & a {
      white-space: nowrap;
    }
  }
}
